@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #faf6ef;
  --foreground: #4e4b46;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-lexend);
  --font-serif: var(--font-bodoni-moda);
  --font-mono: var(--font-jetbrains-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

@layer utilities {
  .h-screen {
    height: 100vh;
    /* biome-ignore lint/suspicious/noDuplicateProperties: CSS waterfall */
    height: 100svh;
    height: 100dvh;
  }

  .min-h-screen {
    min-height: 100vh;
    /* biome-ignore lint/suspicious/noDuplicateProperties: CSS waterfall */
    min-height: 100svh;
    min-height: 100dvh;
  }

  .w-screen {
    width: 100vw;
    /* biome-ignore lint/suspicious/noDuplicateProperties: CSS waterfall */
    width: 100svw;
    width: 100dvw;
  }
}

@layer components {
  .prose-essay>p:first-of-type {
    @apply text-lg;
  }

  .prose-essay>p:first-of-type::first-letter {
    @apply float-left mr-2 -ml-2 text-8xl font-serif text-black leading-[0.75];
  }
}
